<ion-content class="ion-padding">
  <div>
    <ion-row class="image">
      <img src="assets/images/logo.png" style="max-width: 200px;height: 100px !important;" alt="">
    </ion-row >
    <ion-row class="row-form">
      <div class="form-div">
        <form style="padding: 10px !important;" (ngSubmit)="onSubmit()" [formGroup]="studentForm">
          <ion-item  class="ion-no-padding ion-no-margin back-trans">
            <ion-input mode="md" placeholder="Enter name" label="Name" label-placement="floating"
                       formControlName="name"></ion-input>
          </ion-item>

          <ion-item class="ion-no-padding ion-no-margin back-trans">
            <ion-input mode="md" placeholder="Enter address" label="Address" label-placement="floating"
                       formControlName="address"></ion-input>
          </ion-item>

          <ion-item class="ion-no-padding ion-no-margin back-trans">
            <ion-input mode="md" placeholder="Enter email" label="Email" label-placement="floating"
                       formControlName="email"></ion-input>
          </ion-item>

          <ion-item class="ion-no-padding ion-no-margin back-trans">
            <ion-input mode="md" placeholder="Enter mobile" label="Mobile" label-placement="floating"
                       formControlName="mobile"></ion-input>
          </ion-item>

          <ion-item class="ion-no-padding ion-no-margin back-trans">
            <ion-select mode="md" formControlName="pursuingClass" label="Pursuing Class" label-placement="floating"
            >
              <ion-select-option value="8th">8th</ion-select-option>
              <ion-select-option value="9th">9th</ion-select-option>
              <ion-select-option value="10th">10th</ion-select-option>
              <ion-select-option value="Plus one">Plus one</ion-select-option>
              <ion-select-option value="Plus two">Plus two</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button class="ion-margin-vertical ion-padding-horizontal no-ripple" style="margin-top: 50px; --background:rgb(13,92,143)" mode="ios" type="submit" expand="block">
            <ion-text style="font-size: 18px">
              Submit
            </ion-text>
          </ion-button>
        </form>
      </div>
    </ion-row>
  </div>
</ion-content>

<ion-footer class="ion-no-border back-trans" style="margin-bottom: 30px; --background: transparent !important;">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <ion-row class="footer">
      <ion-text style="font-size: 18px;font-weight: 900; color:rgb(13,92,143) ">
        WEFI KERALA
      </ion-text>

    </ion-row>
    <ion-text style="font-size: 14px">
      Studnets center, Calicut - 4
    </ion-text>
    <ion-text>
      <a style="text-decoration: none; font-size: 14px" href="https://wefionline.in/">www.wefionline.in</a>
    </ion-text>
  </div>
</ion-footer>

