.image{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.row-form{
   display: flex;
  justify-content: center;
}

.form-div{
  width: 320px !important;
}

.footer{
  display: flex;
  justify-content: center;
}
